{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-4">
            <a href={{ path('posts') }}><button class="btn btn-homepage">Posty</button></a>
        </div>
        <div class="col-sm-4">
            <a href={{ path('categories') }}><button class="btn btn-homepage">Kategorie</button></a>
        </div>
        <div class="col-sm-4">
            <a href={{ path('literals') }}><button class="btn btn-homepage">Napisy</button></a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <a href={{ path('upload') }}><button class="btn btn-homepage">Upload mediów</button></a>
        </div>
        <div class="col-sm-4">
            <a href={{ path('media_library') }}><button class="btn btn-homepage">Biblioteka mediów</button></a>
        </div>
        <div class="col-sm-4">
            <a href={{ path('users') }}><button class="btn btn-homepage">Użytkownicy</button></a>
        </div>
    </div>
{% endblock %}
