{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% extends "AdminBundle::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-5">
            
            <div ng-controller="LiteralsController as ctrl">
                {{ form_start(form, {'attr': {'action': 'literals'}}) }}
                {{ form_row(form.title, {'attr': {'ng-model': 'ctrl.title'}}) }}
                {{ form_row(form.author, {'attr': {'ng-model': 'ctrl.author'}}) }}
                {{ form_row(form.company, {'attr': {'ng-model': 'ctrl.company'}}) }}
                <button class="btn btn-primary" ng-disabled="key_value_form.$invalid">Zapisz</button>
                {{ form_end(form) }}
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-2">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
