{% extends 'AdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        {% for file in files %}
            <img class="media-library-img" data-toggle="modal" data-target="#single-img-modal" data-id={{ file.id }}
                 src="{{ (asset('media/') ~ file.name) | imagine_filter('thumbnails_large') }}">
        {% endfor %}
    </div>

    <div id="single-img-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10">
                            <img class="img-responsive" id="single-img">
                        </div>
                        <div class="col-md-2">
                            <a id="delete-media-link">Usuń</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

