{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% block sidebar %}
    <div class="sidebar">
        <a href={{ path('posts_add') }}><div class="panel-body">Nowy post</div></a>
        <a href={{ path('posts') }}><div class="panel-body">Posty</div></a>
        <a href={{ path('categories') }}><div class="panel-body">Kategorie</div></a>
        <a href={{ path('upload') }}><div class="panel-body">Upload mediów</div></a>
        <a href={{ path('media_library') }}><div class="panel-body">Biblioteka mediów</div></a>
        <a href={{ path('literals') }}><div class="panel-body">Napisy</div></a>
        <a href={{ path('users') }}><div class="panel-body">Użytkownicy</div></a>
        <a href={{ path('fos_user_change_password') }}><div class="panel-body">Zmień hasło</div></a>
        <a href={{ path('fos_user_security_logout') }}><div class="panel-body">Wyloguj<span class="glyphicon glyphicon-log-out"></span></div></a>
    </div>
{% endblock %}
