{% block sidebar %}
    <div class="sidebar">
        <a href={{ path('add_new_post') }}><div class="panel-body">Dodaj post</div></a>
        <a href={{ path('show_posts') }}><div class="panel-body">Pokaż posty</div></a>
        <a href={{ path('upload') }}><div class="panel-body">Wyślij</div></a>
        <a href={{ path('footer') }}><div class="panel-body">Stopka</div></a>
        <a href={{ path('media_library') }}><div class="panel-body">Biblioteka mediów</div></a>
        <a href={{ path('users') }}><div class="panel-body">Użytkownicy</div></a>
        <a href={{ path('slider') }}><div class="panel-body">Slider</div></a>
        <a href={{ path('fos_user_change_password') }}><div class="panel-body">Zmień hasło</div></a>
        <a href={{ path('fos_user_security_logout') }}><div class="panel-body">Wyloguj<span class="glyphicon glyphicon-log-out"></span></div></a>
    </div>
{% endblock %}