{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% extends 'AdminBundle::base.html.twig' %}
{% form_theme form _self %}

{% block file_label %}
    <label id="label-upload" for="file_upload_form_file" class="required">
        <img src={{ asset('assets/img/upload.png') }}>
    </label>
{% endblock %}

{% block content %}
    <div class="row">
        <div ng-controller="UploadController as ctrl">
            {{ form_start(form, {'attr': {'action': 'upload' }}) }}
            {{ form_label(form.file) }}
            {{ form_widget(form.file, {'attr': {'class': 'hide', 'custom-on-change': 'ctrl.fileChanged'}}) }}
            <div id="submit-upload">
                <h3>{*{ ctrl.filename }*}</h3>
                <button class="btn btn-primary btn-lg" ng-disabled="!ctrl.filename">Wyślij</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/css/upload.css') }}">
{% endblock %}
