{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-justify red">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Użytkownik</th>
                        <th>E-mail</th>
                        <th>Ostatnie logowanie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="edit-row">
                            <td>{{ user.username }}<br>
                                <a href={{ path('delete_user', {'userId': user.id}) }}>Usuń</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.lastLogin | date("d-M-Y H:i") }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            {% for msg in app.session.flashBag.get('delete') %}
                <div class="alert alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
