{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% extends 'AdminBundle::base.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-xs-10">

            {{ form_start(form) }}
                <div class="form-group row">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-xs-1 text-right'}}) }}
                    <div class="col-xs-12">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.content, null, {'label_attr': {'class': 'col-xs-1 text-right'}}) }}
                    <div class="col-xs-12">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style': 'height:300px'}}) }}
                    </div>
                </div>

                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_row(form.categories) }}

                <div class="form-group row">
                    <div class="col-xs-12">
                        {{ form_widget(form.thumbId, {'id': 'thumbnail-field'}) }}
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-img-modal">Wybierz obraz</button>
                <div id="add-img-modal" class="modal fade" role="dialog">
                </div>

                <button type="submit" class="btn btn-primary">Zapisz</button>
            {{ form_end(form) }}

        </div>
        <div class="col-xs-5">
            {% if thumb is defined and thumb is not null %}
                <img id="post-thumb-img" class="center-block" src={{ (asset('media/') ~ thumb.name) | imagine_filter('thumbnails_large') }}>
            {% else %}
                <img id="post-thumb-img" class="center-block">
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/posts.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
