{% extends 'AdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.css"/>
{% endblock %}

{% block content %}

    <table id="posts-table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Treść</th>
            <th>Kategorie</th>
            <th>Użytkownik</th>
            <th>Dodano</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr class="edit-row">
                <td>{{ post.title }}<br>
                    <a href={{ path('posts_edit', {'id': post.id}) }}>Edytuj</a>
                    <a href={{ path('posts_delete', {'id': post.id}) }}>Usuń</a>
                </td>
                <td class="text-justify">{{ post.content }}</td>
                <td>
                    {% for c in post.categories %}
                        {{ c.category }} <br>
                    {% endfor %}
                </td>
                <td>{{ post.user }}</td>
                <td>{{ post.created | localizeddate('none', 'none', 'pl', null, "d MMMM Y, HH:mm") }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/posts.js') }}"></script>
    <script src="{{ asset('admin/js/datatable/posts.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.js"></script>
{% endblock %}

