<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('css/bootstrap.css') }}>
        {#        <link rel="stylesheet" href={{ asset('css/jquery.bxslider.css') }}>#}
        <link rel="stylesheet" href={{ asset('css/styles.css') }}>
    {% endblock %}
    <script src={{ asset('js/jquery-3.1.0.js') }}></script>
    <script src={{ asset('js/jquery-ui.min.js') }}></script>
</head>
<body>

{% include 'BlogBundle::navbar.html.twig' %}
{% include 'BlogBundle::slider.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% include 'BlogBundle::posts.html.twig' %}
        </div>
        <div class="col-md-4">
            {% include 'BlogBundle::sidebar.html.twig' %}
        </div>
    </div>
</div>


{% block javascripts %}
    <script src={{ asset('js/bootstrap.js') }}></script>
    <script src={{ asset('js/script.js') }}></script>
    <script src={{ asset('js/jquery.slides.min.js') }}></script>
    <script src={{ asset('js/jquery-ui.min.js') }}></script>
{% endblock %}
</body>
</html>