<nav class="navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="social-icons-wrapper">
                    <a href="http://facebook.com"><img class="social-icon" src={{ asset('assets/img/social/facebook.png') }}/></a>
                    <a href="http://google.com"><img class="social-icon" src={{ asset('assets/img/social/google.png') }}/></a>
                    <a href="http://pinterest.com"><img class="social-icon" src={{ asset('assets/img/social/pininterest.png') }}/></a>
                    <a href="http://twitter.com"><img class="social-icon" src={{ asset('assets/img/social/twitter.png') }}/></a>
                    <a href="http://skype.com"><img class="social-icon" src={{ asset('assets/img/social/skype.png') }}/></a>
                    <a href="http://instagram.com"><img class="social-icon" src={{ asset('assets/img/social/instagram.png') }}/></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title-wrapper">
                    <p>blogBLOGblog</p>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
                
        <div class="row">
            <hr class="navbar-separator">
        </div>
                
        <div class="row">
            <div class="categories">
                <a href="111">1111</a>
                <a href="222">2222</a>
                <a href="333">3333</a>
                <a href="444">aaaa</a>
                <a href="555">bbbb</a>
            </div>
        </div>        
    </div>
</nav>