<nav class="navbar navbar-wrapper navbar-default navbar-static-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="social-icons-wrapper hidden-xs navbar-left">
            <a href="http://facebook.com"><img class="social-icon"
                                               src={{ asset('assets/img/social/facebook.png') }}/></a>
            <a href="http://google.com"><img class="social-icon"
                                             src={{ asset('assets/img/social/google.png') }}/></a>
            <a href="http://pinterest.com"><img class="social-icon"
                                                src={{ asset('assets/img/social/pininterest.png') }}/></a>
            <a href="http://twitter.com"><img class="social-icon"
                                              src={{ asset('assets/img/social/twitter.png') }}/></a>
            <a href="http://skype.com"><img class="social-icon" src={{ asset('assets/img/social/skype.png') }}/></a>
            <a href="http://instagram.com"><img class="social-icon"
                                                src={{ asset('assets/img/social/instagram.png') }}/></a>
        </div>
        
        <div class="title-wrapper">
            <p>blogBLOGblog</p>
        </div>

        <hr class="navbar-separator hidden-xs">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="nav navbar-nav pull-right">
                <li><a class="categories" href="#">Aaa</a></li>
                <li><a class="categories" href="#">Bbb</a></li>
                <li><a class="categories" href="#">Ccc</a></li>
                <li><a class="categories" href="#">Ddd</a></li>
                <li><a class="categories" href="#">Eee</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>