{% extends 'AdminBundle::base.html.twig' %}
{% block content %}

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Treść</th>
            <th>Użytkownik</th>
            <th>Dodano</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="edit-post-row">{{ post.title }}<br><a href={{ path('edit_post', {'postId': post.id}) }}>Edytuj</a><a href={{ path('edit_post', {'postId': post.id}) }}>Usuń</a></td>
                <td class="edit-post-row">{{ post.content }}</td>
                <td class="edit-post-row">{{ post.user }}</td>
                <td class="edit-post-row">{{ post.created|date("d-M-Y H:i") }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}